####################
# * vercel
####################
.vercel

####################
# * editor
####################
.vscode

####################
# * testing
####################
/coverage

####################
# * production
####################
/build

####################
# * typescript
####################
*.tsbuildinfo
next-env.d.ts

####################
# * next.js
####################
/out/
/.next/

####################
# * misc
####################
*.pem
.DS_Store

####################
# * environments
####################
.env
.env*.local

####################
# * debug
####################
npm-debug.log*
yarn-debug.log*
yarn-error.log*

####################
# * dependencies
####################
/.pnp
.pnp.js
/node_modules
.yarn/install-state.gz

####################
# * external
####################
package-lock.json